<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Log Timings Monitor</title>
    <link href="/assets/stylesheets/flot.css" rel="stylesheet" type="text/css">
    <script language="javascript" type="text/javascript" src="/assets/javascripts/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="/assets/javascripts/flot.js"></script>

    <script type="text/javascript">

        $(function() {

            var options = {
                lines: {
                    show: true
                },
                points: {
                    show: false
                },
                xaxis: {
                    tickDecimals: 0,
                    tickSize: 10
                }
            };

            $("button.dataUpdate").click(function () {

                range = $("#range-selector").find(":selected").val();

                function onDataReceived(series) {

                    // hard-code color indices to prevent them from shifting as countries are turned on/off

                    var i = 0;
                    $.each(series, function(key, val) {
                        val.color = i;
                        ++i;
                    });

                    // insert checkboxes
                    var choiceContainer = $("#choices");
                    $.each(series, function(key, val) {
                        choiceContainer.append("<br/><input type='checkbox' name='" + key +
                                "' checked='checked' id='id" + key + "'></input>" +
                                "<label for='id" + key + "'>"
                                + val.label + "</label>");
                    });

                    choiceContainer.find("input").click(plotAccordingToChoices);

                    function plotAccordingToChoices() {

                        var data = [];

                        choiceContainer.find("input:checked").each(function () {
                            var key = $(this).attr("name");
                            if (key && series[key]) {
                                data.push(series[key]);
                            }
                        });

                        if (data.length > 0) {
                            $.plot("#placeholder", data, {
                                yaxis: {
                                    min: 0
                                },
                                xaxis: {
                                    tickDecimals: 0
                                }
                            });
                        }
                    }

                    plotAccordingToChoices();

                    //$.plot("#placeholder", series, options);
                }

                $.ajax({
                    url: "http://localhost:9000/timings?range=" + range,
                    type: "GET",
                    dataType: "json",
                    success: onDataReceived
                });

            });
        });

    </script>
</head>
<body>

<div id="content">

    <center><h3>Log Timings Monitor</h3></center>

    <hr>

    <table cellspacing="10" cellpadding="10">
        <tr>
            <td>Range:</td>
            <td>
                <select id="range-selector">
                    <option value="0">Today</option>
                </select>
            </td>
            <td><button class="dataUpdate">Extract Timings</button></td>
        </tr>
    </table>

    <hr>

    <div class="demo-container">
        <div id="placeholder" class="demo-placeholder" style="float:left; width:675px;"></div>
        <p id="choices" style="float:right; width:135px;"></p>
    </div>

</div>

</body>
</html>
