<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Log Timings Monitor</title>
    <link href="http://www.flotcharts.org/flot/examples/examples.css" rel="stylesheet" type="text/css">
    <script language="javascript" type="text/javascript" src="http://www.flotcharts.org/flot/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="http://www.flotcharts.org/flot/jquery.flot.js"></script>

    <script type="text/javascript">

        $(function() {

            var options = {
                lines: {
                    show: true
                },
                points: {
                    show: false
                },
                xaxis: {
                    tickDecimals: 0,
                    tickSize: 10
                }
            };

            var data = [];

            $("button.dataUpdate").click(function () {

                data = [];

                source = $("#source").val();

                $.plot("#placeholder", data, options);

                function onDataReceived(series) {
                    $.plot("#placeholder", series, options);
                }

                $.ajax({
                    url: "http://localhost:9000/timings?source=" + source,
                    type: "GET",
                    dataType: "json",
                    success: onDataReceived
                });

            });
        });

    </script>
</head>
<body>

<div id="content">
    <div class="demo-container">
        <div id="placeholder" class="demo-placeholder"></div>
    </div>
    <form>
        <input type="text" id="source" size="100" />
    </form>
    <p><button class="dataUpdate">Extract Timings</button></p>
</div>

</body>
</html>
